.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
}

.dash1 {
  padding-bottom: 2%
}

.dashFinal {
  padding-bottom: 3%
}

.flex-item {
  background: #ffffff;
  padding: 5px;
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 180px;
  margin: 5px;
  line-height: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
  transition: transform .5s;
  border-radius: 10px;
}

.space-around {
  justify-content: space-evenly;
}

.space-around li {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.titulo {
  text-align: center
}

.numeral {
  font-size: 2rem;
}

.flex-item:hover .iconeDash {
  color: #1f7be2;
}

.flex-item:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
