<title>Dashboard - Início</title>
<h3 class="font-weight-bold tituloReview pl-5 pt-4">Dados Analíticos</h3>
<ul class="flex-container dash1 space-around">
  <li title="Pessoas Cadastradas" class="flex-item">
    <mat-icon class="iconeDash" style="color: #0884fa">people</mat-icon><br>
    <span class="text-muted numeral">{{contagemCadastrados}}</span><br>
    <span class="text-muted">Pessoas Cadastradas</span>
  </li>
  <li title="Urnas Cadastradas" class="flex-item">
    <mat-icon class="iconeDash" style="color: #8b6efe">how_to_vote</mat-icon><br>
    <span class="text-muted numeral">{{contagemUrnas}}</span><br>
    <span class="text-muted">Urnas Cadastradas</span>
  </li>
  <li title="Votações Finalizadas" class="flex-item">
    <mat-icon class="iconeDash" style="color: #febc1b">how_to_vote</mat-icon><br>
    <span class="text-muted numeral">4</span><br>
    <span class="text-muted">Votações Finalizadas</span>
  </li>
</ul>

<h3 class="font-weight-bold tituloReview pl-5 pt-4">Status das urnas</h3>
<ul class="flex-container dashFinal space-around">
  <li title="Urnas conectadas" class="flex-item">
    <mat-icon class="" style="color: chocolate">how_to_vote</mat-icon><br>
    <span class="text-muted numeral">2</span><br>
    <span class="">Urnas conectadas</span>
  </li>
  <li title="Uso médio de memória" class="flex-item">
    <i class="fas fa-memory" style="color: darkolivegreen"></i>
    <div class="grafico">
    <ngx-charts-number-card
    [results]="memoria"
    [scheme]="colorScheme"
    [valueFormatting]="numbercardValueFormattingDiscoRedeMemoria"
    (select)="onSelect($event)">
  </ngx-charts-number-card>
</div>
  </li>
  <li title="Uso médio de CPU" class="flex-item">
    <i class="fas fa-microchip" style="color: lightcoral"></i>
    <div class="grafico">
        <ngx-charts-number-card
        [results]="cpu"
        [scheme]="colorScheme"
        [valueFormatting]="numbercardValueFormattingCPU"
        (select)="onSelect($event)">
      </ngx-charts-number-card>
  </div>
  </li>
  <li title="Uso médio de rede" class="flex-item">
    <i class="fas fa-ethernet" style="color: royalblue"></i>
    <div class="grafico">
        <ngx-charts-number-card
        [results]="rede"
        [scheme]="colorScheme"
        [valueFormatting]="numbercardValueFormattingDiscoRedeMemoria"
        (select)="onSelect($event)">
      </ngx-charts-number-card>
    </div>
  </li>
  <li title="Uso médio de disco" class="flex-item">
    <mat-icon style="color: teal">sd_card</mat-icon>        
      <div class="grafico">
      <ngx-charts-number-card
      [results]="disco"
      [scheme]="colorScheme"
      [valueFormatting]="numbercardValueFormattingDiscoRedeMemoria"
      (select)="onSelect($event)">
    </ngx-charts-number-card>
  </div>
  </li>
</ul>