<title>Gestão de Relatórios</title>
<h3 class="titulo">Gestão de Relatórios</h3>

<ul class="flex-container dash1 space-around">
    <li title="Pessoas Cadastradas" class="flex-item-contador">
        <img src="assets/Clock_Days.png" width="450px" alt="Avatar">
        <br>
        <p class="text-muted legenda">Tempo desde o inicio da Votação</p>
    </li>
    <li title="Votações Finalizadas" class="flex-item-contador">
        <img src="assets/Clock_Days.png" width="450px" alt="Avatar">
        <br>
      <p class="text-muted legenda">Tempo restante de Votação</p>
    </li>
  </ul>

<ul class="flex-container dash1 space-around">
    <li title="Pessoas Cadastradas" class="flex-item">
      <mat-icon class="iconeDash" style="color: #0884fa">people</mat-icon><br>
      <span class="text-muted numeral">50</span><br>
      <p class="text-muted legenda">Votos registrados</p>
    </li>
    <li title="Urnas Cadastradas" class="flex-item">
      <mat-icon class="iconeDash" style="color: #8b6efe">how_to_vote</mat-icon><br>
      <span class="text-muted numeral">3</span><br>
      <p class="text-muted legenda">Quantidade de Candidatos Cadastrados</p>
    </li>
    <li title="Votações Finalizadas" class="flex-item">
      <mat-icon class="iconeDash" style="color: #febc1b">how_to_vote</mat-icon><br>
      <span class="text-muted numeral">4</span><br>
      <p class="text-muted legenda">Quantidade Total de Pessoas Cadastradas</p>
    </li>
  </ul>