::ng-deep .conteudo, ::ng-deep .raiz {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url('../../../../assets/fundoPerfil.svg') no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 45%;
    background-color: #f5f8fd;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
@media screen and (min-width: 900px) {
.formulario {
    margin: 0 auto;
    width: 60%;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-bottom: 20px;
}
}
@media only screen and (max-width: 600px) {
    .formulario {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        background: #f5f8fd;
    }
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

.botoes {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    width: auto;
}
.validacao{
    font-size: 13px;
}
.fa-fingerprint {
	display: inline-block;
	-moz-animation: pulse 3.5s infinite linear;
	-o-animation: pulse 3.5s infinite linear;
	-webkit-animation: pulse 3.5s infinite linear;
    animation: pulse 3.5s infinite linear;
    cursor: pointer;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }