html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.textoBoxLogin{
text-align: center;
}
.loginTitleText{
    font-weight:bold;
}
.iconesInput{
    stroke: grey;
    color: grey;
}
.form{
    text-align: center;
}
.inputCampos{
    width: 70%;
}
.lembrar{
    padding-right: 15%;
    text-align: right;
}
.validacao{
    font-size: 12px;
    text-align: right;
    padding-right: 20%
}