table{
    width: 90%;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
::ng-deep .mat-paginator{
    width: 90%;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.teste{
    margin-top: 3%;
    width: 100%;
}
.titulo{
    padding-left: 5%;
    padding-top: 1%
}
.botaoNovo {
    font-size: medium;
    width: 150px;
    height: 55px;
    border-radius: 30px;
    float: right;
}
.align-right {
    text-align: right;
}
.tabela{
    margin: 0 auto
}
h3 {
    font-size: 36px;
    font-weight: 700;
}