<title>Gestão de Votação</title>

<div class="conteudoPagina">
    <span class="botaoCadastrar"><button mat-raised-button class="botaoNovo" routerLink="/gestaoPessoal/novo"
            color="primary">Gerenciar Votação</button></span>
    <h3 class="pl-3 pt-4" style="text-align: center;">Gestão de Votação</h3>

    <div class="listaOpcoes">
        <span [class.selecionado]="isActive('todos')" (click)="setActive('todos')"
            class="text-muted p-2 opcoesFiltro">Todos</span>
        <span [class.selecionado]="isActive('eleitores')" (click)="setActive('eleitores')"
            class="text-muted p-2 opcoesFiltro">Eleitores</span>
        <span [class.selecionado]="isActive('candidatos')" (click)="setActive('candidatos')"
            class="text-muted p-2 opcoesFiltro">Candidatos</span>
    </div>
    <hr>

    <div class="refinar">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Procurar...">
        </div>
        <div class="iconeRefinar">
            <i [class.refinarSelecionado]="isRefinar('lista')" (click)="setRefinar('lista')"
                class="fas fa-align-left pr-3"></i>
            <i [class.refinarSelecionado]="isRefinar('grade')" (click)="setRefinar('grade')"
                class="fas fa-th-large"></i>
        </div>
    </div>

    <div class="row">

        <div class="col" *ngFor="let listaPessoas of pessoas">
            <div class="card">
                <img class="card-img-top iconeImagem"
                    [src]="listaPessoas.Foto ? listaPessoas.Foto : 'https://www.groundai.com/static/groundai/img/avatar-placeholder.png'"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{listaPessoas.Nome}}</h5>
                    <span style="float: left;">CPF </span>
                    <span style="float: right">{{listaPessoas.CPF}}</span>
                    <br>
                    <hr>
                    <span style="float: left;">Tipo</span><span style="float: right">{{listaPessoas.tipoConta}}</span>
                    <br>
                    <hr>
                    <div *ngIf="listaPessoas.tipoPerfil;else candidatoNumero">
                        <span style="float: left;">Número</span>
                        <span style="float: right">{{listaPessoas.Numero}}</span>
                    </div>
                    <ng-template #candidatoNumero>
                        <span style="float: left;">Número</span>
                        <span style="float: right">N/D</span>
                    </ng-template>
                    <br>
                    <hr>
                    <div class="botaoCadastrarCandidato">
                        <div *ngIf="listaPessoas.tipoPerfil;else candidato">
                        <button  mat-stroked-button (click)="modalCadastro('Atualizar',listaPessoas.CPF, listaPessoas.Nome, listaPessoas.Numero)" style="display: block; margin-top: 35px;">Atualizar candidato</button>
                            <button mat-stroked-button style="margin-top: 10px;" (click)="removerCandidatura(listaPessoas.CPF)">Remover candidatura</button>
                        </div>
                        <ng-template #candidato>
                            <button mat-stroked-button (click)="modalCadastro('Novo',listaPessoas.CPF, listaPessoas.Nome)"
                                style="display: block; margin-top: 35px;">Cadastrar como candidato</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>