@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.iconeMenu{
  padding-right: 3%
}

.barraLateral{
  background-color: #ffffff;
  flex:space-between center;
}
.conteudo{
  background-color: #f5f8fd
}
.mat-sidenav-container{
  background-color: #f5f8fd
}
.active-list-item {
  border-left: 4px solid #1f7be2;
}
.Icones{
  color: grey;
  font-size: 24px;
  text-align: center
}
.active-list-item .Icones {
  color: black;
}
.menuPerfil{
  display: block;
  padding-bottom: 4%;
}
.inner-content{
  position: fixed;
  bottom: 0;
  left: 0;
}