<title>Gestão de Pessoas</title>

<ul class="flex-container dash1 space-around">
    <li title="Pessoas Cadastradas" class="flex-item">
        <span class="numeral">50</span><br>
        <span class="text-uppercase legenda">Pessoas Cadastradas</span>
    </li>
    <li title="Urnas Cadastradas" class="flex-item">
        <span class="numeral">25</span><br>
        <span class="text-uppercase legenda">Eleitores Cadastrados</span>
    </li>
    <li title="Votações Finalizadas" class="flex-item">
        <span class="numeral">25</span><br>
        <span class="text-uppercase legenda">Candidatos Cadastrados</span>
    </li>
</ul>

<div class="table-responsive campoTabela">
    <div class="listaOpcoes">
        <span class="text-muted p-2">Pessoal</span>
        <span class="completaEspaco"></span>
        <span [class.selecionado]="isActive('eleitores')" (click)="setActive('eleitores')"
            class="text-muted p-2 opcoesFiltro">Eleitores</span>
        <span [class.selecionado]="isActive('candidatos')" (click)="setActive('candidatos')"
            class="text-muted p-2 opcoesFiltro">Candidatos</span>
    </div>
    <div class="tabela">
        <table mat-table [dataSource]="dataSource" class="">

            <ng-container matColumnDef="position">
                <th mat-header-cell class="text-center" *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>