@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
.iconeMenu {
  padding-right: 3%
}

.barraLateral {
  background-color: #ffffff;
}

.toolbar {
  background-color: #ffffff;
}

.conteudo {
  background-color: #f5f8fd;
  height: 100%
}

.mat-sidenav-container {
  background-color: #f5f8fd
}

.iconeLateral {
  color: grey
}

.active-list-item, .active-list-item .iconeLateral {
  color: #1f7be2;
}

.active-list-item {
  border-right: 2px solid #1f7be2;
}

.Icones {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 10px;
}

.menuPerfil {
  display: block;
  padding-bottom: 4%;
}

.inner-content {
  position: absolute;
  left: 0;
  /* right: 0; */
  bottom: 0;
  margin: auto;
  width: 80%;
}

.title-center {
  margin: 0 auto;
  font-size: 16px
}

.mat-nav-list a {
  font-size: 14px;
}

.avatar {
  border-radius: 50%;
  height: 30px;
  width: auto;
}

.configPerfil {
  text-align: right
}

.espacoMobile {
  flex: 1 1 auto;
}

.textoNavBar {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
}

.tituloSidenav {
  padding-left: 30px;
  font-size: 13px;
  color: #43bec6;
  font-weight: 700;
  padding-top: 10px;
}

.firstIcon {
  padding-bottom: 20px;
  padding-top: 30px;
}
hr{
  margin-top: 0;
}
.mat-list-item{
  padding-bottom: 70px;
}
.textoNavBarInicio{
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-size: 14px;
}