<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav barraLateral" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)" >
        <mat-nav-list>

            <div class="Icones firstIcon">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/home">
                    <i class="fas fa-home iconeLateral"></i>
                    <span class="pl-3 textoNavBarInicio">Página Inicial</span>
                </a>
            </div>
            <!-- <hr> -->
            <span class="tituloSidenav">GESTÃO DE PESSOAS</span>
            <div class="Icones">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/gestaoPessoal">
                    <mat-icon class="iconeLateral" title="Gestão de Pessoas">people_outline</mat-icon>
                    <span class="pl-3 textoNavBar">Gestão de Pessoas</span>
                </a>
            </div>

            <span class="tituloSidenav">GESTÃO DE URNAS</span>
            <div class="Icones">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/gestaoUrna">
                    <mat-icon class="iconeLateral" title="Gestão de Urnas">tablet</mat-icon>
                    <span class="pl-3 textoNavBar">Gestão de Urnas</span>
                </a>
            </div>

            <span class="tituloSidenav">GESTÃO DE VOTAÇÃO</span>
            <div class="Icones">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/votacao">
                    <mat-icon class="iconeLateral" title="Gestão de Votação">how_to_vote</mat-icon>
                    <span class="pl-3 textoNavBar">Gestão de Votação</span>
                </a>
            </div>

            <span class="tituloSidenav">GESTÃO DE RELATÓRIO</span>
            <div class="Icones">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/relatorio">
                    <mat-icon class="iconeLateral" title="Gestão de Relatórios">bar_chart</mat-icon>
                    <span class="pl-3 textoNavBar">Gestão de Relatórios</span>
                </a>
            </div>

            <span class="tituloSidenav">GESTÃO DE AUDITORIA</span>
            <div class="Icones">
                <a mat-list-item href="#" routerLinkActive="active-list-item" routerLink="/auditoria">
                    <mat-icon class="iconeLateral" title="Gestão de Auditoria">assignment</mat-icon>
                    <span class="pl-3 textoNavBar">Gestão de Auditoria</span>
                </a>
            </div>

            <hr>
            <div class="inner-content" id="botNav" mat-list-item>

                <div class="Icones" style="text-align: center">
                    <button mat-button [matMenuTriggerFor]="perfil" class="menuPerfil">
                        <img src="https://www.groundai.com/static/groundai/img/avatar-placeholder.png" class="avatar" alt="Avatar">
                        <span class="text-muted pl-3 pt-5">{{Nome}}</span>
                    </button>
                </div>
                <mat-menu #perfil="matMenu">
                    <button mat-menu-item>Editar Perfil</button>
                    <button mat-menu-item (click)="logout()">Sair</button>
                </mat-menu>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <mat-toolbar class="toolbar">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <i class="fas fa-grip-vertical"></i>
            </button>
            <span *ngIf="mobile === false" class="title-center text-muted">{{titleService.getTitle()}}</span>
            <span *ngIf="mobile === true" class="espacoMobile"></span>
        </mat-toolbar> -->

        <div class="conteudo">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>